<p>
  <%= link_to "Edit", edit_notebook_path(@notebook) %> |
  <%= link_to "Destroy", @notebook, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", notebooks_path %>
</p> 
