<ul class="list">
<% @experiments.each_with_index do |p,i| %>
  <li class="rounded" style="background: #fff; padding: 10px; margin-bottom: 5px;"> Project: <span class="bold"> <%= p.name %> </span> <br />
  <% p.experiments.each_with_index do |e,i| %>
    <%= "|" unless i == 0 %> <%= link_to "#{e.name}", e %>
  <% end %></li>
<% end %>
</ul>