<ul class="list">
<% @pages.each do |p|%>
  <li class="rounded" style="background: #fff; padding: 10px; margin-bottom: 5px;"><span class="bold">Page </span><%= link_to "#{p.created_at}", p %> (<%= pluralize( p.notes.count, "note") if p.notes %>)
  <span class="del-icon" style="float: right;"><%= link_to "delete", p, :confirm => 'Are you sure?', :method => :delete, :class => "button red" %> </span> </li>
<% end %>
</ul>