<section class="container_12">
<div class="grid_12 push_4" style="font-size: 12px;">

  <h4>Page <%= @page.created_at %></h4>

  <div id="notes">
    <%= render @notes %>
  </div>

  <div id="notes_paginator">
    <%= paginate @notes, :remote => true %>
  </div>

  <div class="rounded" style="background: white; width: 400px; margin-bottom: 10px;  padding: 15px;">
    <%= render 'notes/form' %>
  </div>

</div>
</section>