// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  color: green;
}
.alert {
  color: red;
}
section  {
  h4 { font-size: 16px; font-weight: bold; margin: 10px 0 10px 0; };
  a {  color: #36C; font-size: 14px; };
  a:hover {text-decoration: underline; }
  font-size: 12px; 
}

.header {
  height: 20px;
  background: #eee;
  color: #000;
  padding: 5px;
  text-align: right;
  font-size: 12px;
  margin-left: 40px;
  a { font-size: 12px; }
}

#alerts {
  float: left;
}

#projects, #notebook, #pages, #experiments, #other_experiments {
  border-bottom: 1px solid #777;
  margin-bottom: 10px;
  padding: 20px;
  background: #f5f5f5;
}

#auth {
  h4 { font-size: 18px; margin: 20px 0 25px 0; }
  margin-bottom: 10px;
  padding: 20px;

  a, submit {
  line-height: 40px;
  padding: 7px 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: none;
  background: #63759A  repeat-x 0 50%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 20px;
  };

  a:hover {
   background: #4083A9  repeat-x 0 50%;
  }
}



input:focus, textarea:focus {
  outline: 0;
  color: #333;
  border-color: #56B4EF;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
}

input, textarea, select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  margin: 0;
  outline: none;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type="submit"] {
  position: relative;
  display: inline-block;
  overflow: visible;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  background-color: #63759A;
  background-repeat: no-repeat;
  border: 1px solid #CCC;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-radius: 0 url(0);
  margin-left: 5px;
}

input[type="submit"]:hover {
  background-color: #4083A9 ;
}

input[type="checkbox"] {
  width: 20px;
}

textarea {
  width: 400px;
  height: 200px
}

.pagination {
  margin: 20px 0;
}

.pagination .disabled {
  color: #777;
}

.page{ 
  margin: 5px; 
  padding: 5px; 
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  font-size: 14px;
  color: #000;
  a { font-size: 14px; text-decoration: none; color: #00AFE9; }
}

.button {
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #686868;
  font-size: 14px;
  font-weight: bold;
  background: #EFEFEF url("/unity/img/buttons/buttonbg.png") repeat-x;
  padding: 4px 8px 4px 8px;
  border: 1px solid #AFAFAF;
  -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing: ease-out;
  -o-transition-duration: 0.3s;
  -o-transition-timing: ease-out;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing: ease-out;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing: ease-out;
  transition-duration: 0.3s;
  transition-timing: ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 11px;
  text-decoration: none;

}

.button.red {
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #F34F50;
  color: white;
  border: 1px solid #CF3C41;
}

.bold {
  font-weight: bold;
}

a.button:hover {
  background-color: #D14836;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing: ease-out;
  -o-transition-duration: 0.3s;
  -o-transition-timing: ease-out;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing: ease-out;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing: ease-out;
  transition-duration: 0.3s;
  transition-timing: ease-out;
  text-decoration: none;
}


a.button.blue {
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2FBBE9;
  color: white;
  border: 1px solid #2A91B6;
}

a.button.green {
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #45BB2F;
  color: white;
  border: 1px solid #249125;
}


.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

ul li {
  font-size: 12px;
  a { font-size: 12px; }
}

.next, .last, .first, .prev {
  display: none;
}

